<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServicioCliente" />
                <binding name="BasicHttpBinding_IServicioHabitacion" />
                <binding name="BasicHttpBinding_IServicioRegistroReserva" />
                <binding name="BasicHttpBinding_IServicioReserva" />
                <binding name="BasicHttpBinding_IServicioUbigeo" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF_Hotel/ServicioCliente/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioCliente"
                contract="ProxyCliente.IServicioCliente" name="BasicHttpBinding_IServicioCliente" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF_Hotel/ServicioHabitacion/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioHabitacion"
                contract="ProxyHabitacion.IServicioHabitacion" name="BasicHttpBinding_IServicioHabitacion" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF_Hotel/ServicioRegistroReserva/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioRegistroReserva"
                contract="ProxyRegistroReserva.IServicioRegistroReserva" name="BasicHttpBinding_IServicioRegistroReserva" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF_Hotel/ServicioReserva/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioReserva"
                contract="ProxyReserva.IServicioReserva" name="BasicHttpBinding_IServicioReserva" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCF_Hotel/ServicioUbigeo/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioUbigeo"
                contract="ProxyUbigeo.IServicioUbigeo" name="BasicHttpBinding_IServicioUbigeo" />
        </client>
    </system.serviceModel>
</configuration>